<div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-offset-1">
        <h1 class="jumbotron text-center">Welcome to PostComponent</h1>
        <h2>Posts</h2>
        <ul class="list-group">
          <app-post-list  *ngFor="let post of PostTab"
              [title]="post.postData.title"
              [content]="post.postData.content"
              [loveIts]="post.postData.loveIts"
              [created_at]="post.postData.created_at" ></app-post-list>
        </ul>
      </div>
    </div>
</div>